@import '../../../../colors/colors.scss';
.headerBtn{
    margin-left: 110px;
    margin-top: 3px;
    a{
        font-size: 16px;
        color: $white;
        padding: 16px 22px;
        border-radius: 15px;
        border: 1px solid $white;
        transition: 0.3s;
    }
    a:hover{
        color: $yellow;
        border: 1px solid $yellow;
       
    }
}