@import '../../../../colors/colors.scss';

.btn{
    width: 330px;
    height: 65px;
    margin-top: 50px;
    cursor: pointer;
    background: $green;
    border: none;
    border-radius: 20px;
   box-shadow: 1px 0px 17px -1px rgba(57,186,36,0.75);
   font-size: 20px;

    
}