@import '../../../colors/colors.scss';
.text{
    font-size: 20px;
    color:$lightGrey;
    width:70%;
   
}

@media only screen and (max-width: 1024px) {
    .text{
        width: 60%;
        font-size: 18px;
    }
 }

 @media only screen and (max-width: 991px) {
     .text{
        text-align: center;
        margin: 0 auto;
 }
     
  }

  @media only screen and (max-width: 575px) {
        .text {
          font-size: 16px;
        
      }
 }

 @media only screen and (max-width: 320px) {
    .text{
        width:70%;
      }
}
 
     